:root{
    color-scheme: light dark;
}
#header, #subHeader, #container, #imageDices, section, #result, #regLink{
    display: flex;
    justify-content: center;
}
#result{
    color: red;
}
form{
    display: block;
}